<%- include('partials/_header') -%>

<body>
     <div class="container">
          <div class="search-box">
               <i class="fa-solid fa-location-dot"></i>
               <form action="/" method="GET">
                    <input type="text" name="city" placeholder="Şehir giriniz">
                    <button class="fa-solid fa-magnifying-glass" type="submit" value="Send"> </button>
               </form>
          </div>

          <% if (weatherData.name) { %>
          <div class="weather-box">
               <% switch (weatherData.weather[0].description) {
                    case 'açık':
                         %>
               <img src="images/clear.png">
               <%
                         break;

                    case 'parçalı bulutlu':
                         %>
               <img src="images/cloud.png">
               <%
                         break;

                    case 'az bulutlu':
                         %>
               <img src="images/fewclouds.png">
               <%
                         break;

                         case 'rüzgarlı':
                         %>
               <img src="images/mist.png">
               <%
                         break;

                    case 'yağmurlu':
                    case 'yer yer hafif yoğunluklu yağış':{
                         %>
               <img src="images/rain.png">
               <%
                         break;
                    }
                    case 'parçalı az bulutlu':
                         %>
               <img src="images/cloud.png">
               <%
                         break;
                         
                    case 'kar yağışlı':
                         %>
               <img src="images/snow.png">
               <%
                         break;
                    case 'kapalı' :
                         %>
               <img src="images/cloudy.png">
               <%
                         break;

                    default:

                         %>
               <img src="images/404.png">
               <%
               } %>
               <p class="location"> <%= weatherData.name %></p>
               <p class="temp"> <%= weatherData.main.temp.toFixed(0) %>&#176;</p>
               <p class="description"> <%= weatherData.weather[0].description%></p>
          </div>

          <div class="weather-details">
               <div class="humidity">
                    <i class="fa-solid fa-water"></i>
                    <div class="text">
                         <span> &#37;<%= weatherData.main.humidity %> </span>
                         <p>Nem</p>
                    </div>
               </div>
               <div class="wind">
                    <i class="fa-solid fa-wind"></i>
                    <div class="text">
                         <span><%= weatherData.wind.speed %> km/h</span>
                         <p>Rüzgar Hızı</p>
                    </div>
               </div>
          </div>
     </div>
     <% } %>

     <%- include('partials/_footer') -%>