<%- include('partials/_header') -%>

<body>
     <div>
          <form id="myForm"  class="form" action="/" method="GET">
               <input type="text" id="city" name="city" placeholder="Şehir giriniz"><br><br>
               <input type="submit" value="Send">
          </form>
     </div>
     <% if (weatherData.name) { %>
     <div id="weather_wrapper">
          <div class="weatherCard">
               <div class="currentTemp">
                    <span class="temp"> <%= weatherData.main.temp.toFixed(0) %>&deg;</span>
                    <span class="location"> <%= weatherData.name %></span>
                    <span class="altlocation"> <%= weatherData.weather[0].description%></span>
               </div>

               <div class="currentWeather">
                    <span class="conditions">&#xf00d;</span>
                    <div class="info">
                         <span class="rain">1.3 MM</span>
                         <span class="wind"><%= weatherData.wind.speed %> km/h</span>
                    </div>
               </div>
          </div>
          <% } %>
     </div>

</body>

</html>